$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
#map {
  width: 100%;
  height: calc(100vh - 34px);
}
.js-off-canvas-exit {
  height: 67px;
  background: rgba(254, 254, 254, 0);
}
.menu-icon {
  height: 29px;
  &::after {
    -webkit-box-shadow: 0 9px 0 #fefefe, 0 19px 0 #fefefe;
    box-shadow: 0 9px 0 #fefefe, 0 19px 0 #fefefe;
    height: 3px;
  }
  &:hover::after {
    $color: #cacaca;
    background: $color;
    -webkit-box-shadow: 0 9px 0 $color, 0 19px 0 $color;
    box-shadow: 0 9px 0 $color, 0 19px 0 $color;
    height: 3px;
  }
}
.off-canvas-list {
  li {
    padding: 10px 0;
    cursor: pointer;
    &:hover, &.isSelected {
      background-color: #fff;
    }
  }
}
.eatery-search {
  width: 122px;
}
.is-open-left {
    -webkit-transform: translateX(150px);
    -ms-transform: translateX(150px);
    transform: translateX(150px);
}
.off-canvas.position-left {
    left: -150px;
    top: 0;
    width: 150px;
}
