body {
  font: 100% Helvetica, sans-serif;
  color: #333; }

#map {
  width: 100%;
  height: calc(100vh - 67px); }

.js-off-canvas-exit {
  height: 67px;
  background: rgba(254, 254, 254, 0); }

.menu-icon {
  height: 29px; }
  .menu-icon::after {
    -webkit-box-shadow: 0 9px 0 #fefefe, 0 19px 0 #fefefe;
    box-shadow: 0 9px 0 #fefefe, 0 19px 0 #fefefe;
    height: 3px; }
  .menu-icon:hover::after {
    background: #cacaca;
    -webkit-box-shadow: 0 9px 0 #cacaca, 0 19px 0 #cacaca;
    box-shadow: 0 9px 0 #cacaca, 0 19px 0 #cacaca;
    height: 3px; }

.off-canvas-list li {
  padding: 10px 0;
  cursor: pointer; }
  .off-canvas-list li:hover, .off-canvas-list li.isSelected {
    background-color: #fff; }

.eatery-search {
  width: 122px; }

.is-open-left {
  -webkit-transform: translateX(150px);
  -ms-transform: translateX(150px);
  transform: translateX(150px); }

.off-canvas.position-left {
  left: -150px;
  top: 0;
  width: 150px; }
